<app-card-layout
  [title]="showView() ? labels[showView()!] : 'Pipes'"
  [backButtonToHome]="!showView()"
  (backClicked)="show()"
>
  @switch (showView()) {
    @case ('paginateArray') {
      <p>
        This is the simplest way to do pagination with good performance. Fetch a
        chunk of data and pipe it to the screen.
      </p>
      <p>
        The following is an array of numbers from 1 to 100 being paginated
        through the pipe
      </p>
      <div>
        {{ arrayForPagination | paginateArray: pageIndex() : pageSize | json }}
      </div>
      <div class="join">
        <button
          class="btn join-item"
          [disabled]="pageIndex() <= 1"
          (click)="pageIndex.set(pageIndex() - 1)"
        >
          «
        </button>
        <button class="btn join-item">Page {{ pageIndex() }}</button>
        <button
          class="btn join-item"
          [disabled]="pageIndex() >= arrayForPagination.length / pageSize"
          (click)="pageIndex.set(pageIndex() + 1)"
        >
          »
        </button>
      </div>
    }

    @case ('QuickSearch') {
      <p>
        Filter an array of objects by property value. best used for
        autocompletes You could also pass a function into the array for more
        flexibility, but i'm yet to need that much flexibility
      </p>
      <div class="flex flex-col gap-4">
        <input
          type="text"
          class="input input-bordered w-full max-w-xs"
          [(ngModel)]="searchTerm"
          placeholder="Search term"
        />
        <div class="flex h-96 flex-col gap-2 overflow-y-auto">
          <div
            *ngFor="
              let item of arrayForSearch | quickSearch: searchTerm() : 'name'
            "
          >
            {{ item.name }}
          </div>
        </div>
      </div>
    }

    @case ('timeframeInMinutes') {
      <p>
        Use case: The system had a scheduler screen and steps in a state machine
        had variable intervals in between saved in minutes
      </p>
      <p>
        This pipe translated the minutes to a textual description of the
        interval of time
      </p>
      <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3">
        <div class="badge badge-neutral badge-lg">
          0 - {{ 0 | timeframeInMinutesToText }}
        </div>
        <div class="badge badge-primary badge-lg">
          30 - {{ 30 | timeframeInMinutesToText }}
        </div>
        <div class="badge badge-secondary badge-lg">
          300 - {{ 300 | timeframeInMinutesToText }}
        </div>
        <div class="badge badge-accent badge-lg">
          1440 - {{ 1440 | timeframeInMinutesToText }}
        </div>
        <div class="badge badge-ghost badge-lg">
          2880 - {{ 2880 | timeframeInMinutesToText }}
        </div>
        <div class="badge">
          129600 - {{ 129600 | timeframeInMinutesToText }}
        </div>
      </div>
    }

    @case ('offsetDateByBusinessDays') {
      <p>
        Use case: Something is going to happen in X business days. Don't ask me
        anything about holidays, these have to be localized.
      </p>
      <p>Also don't be trying to go back in time</p>
      <p class="flex items-center gap-2">
        <span>Today +</span>
        <input
          type="number"
          min="0"
          class="input input-xs input-bordered"
          [(ngModel)]="businessDays"
          placeholder="Business days"
        />
        <span
          >Business days =
          {{ today | offsetByBusinessDays: businessDays() | date }}</span
        >
        {{ businessDays() | json }}
      </p>
    }

    @case ('timeAgo') {
      <p>Use case: usually to show the age of a notification</p>
      <p>You have a date and wants to print how long ago it was</p>
      <span>{{ today | date }} ➡️ {{ today | timeAgo }}</span>
      <span>{{ lastWeek | date }} ➡️ {{ lastWeek | timeAgo }}</span>
      <span>{{ lastMonth | date }} ➡️ {{ lastMonth | timeAgo }}</span>
    }

    @case ('objectMatch') {
      <span>
        Use case: you have a value that has to be interpolated according to
        another value, if a switch case would be a solution, then this is a
        solution. Eg:
        <ul>
          <li>translating an id to it's meaning</li>
          <li>translating a string to it's illustrating icon</li>
        </ul>
      </span>
      @for (arrow of toMatch; track $index) {
        <div class="flex items-center gap-2">
          {{ arrow }} =
          <lucide-angular
            [name]="arrow | enumMatch: matchExample"
          ></lucide-angular>
        </div>

        <!-- <lucide-angular [name]="matchExample[arrow]"></lucide-angular> -->
      }
    }

    @default {
      <p>
        If you search for '|' in your templates and don't find hundreds, your
        app will be slow one day
      </p>
      <div class="grid gap-2 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
        @for (key of keys; track $index) {
          <button class="btn btn-outline btn-lg" (click)="show(key)">
            {{ labels[key] | titlecase }}
          </button>
        }
      </div>
    }
  }

  @if (showView()) {
    <app-external-code-panel
      [references]="[references[showView()!]]"
    ></app-external-code-panel>
  }
</app-card-layout>
