<app-card-layout title="Loading indicators">
  <div class="prose flex flex-col">
    <p>
      Clicking a button will trigger a {{ loadingDelay }} second delay. Any
      observable can be wrapped in the utility methods and the loaders with be
      signaled through the subjects automatically
    </p>

    <div class="flex flex-col gap-2 pb-4">
      <button class="btn btn-primary" (click)="sendGlobalLoader()">
        Global Loader
        <!-- any parameter in the system can be bound to a loader -->
        @if (globalLoading$ | async) {
          <span class="loading loading-ring loading-lg"></span>
        }
      </button>
      <button class="btn btn-primary" (click)="sendLocalLoader('local1')">
        Local loader 1
        @if (localLoading$ | async) {
          <span class="loading loading-ring loading-lg"></span>
        }
      </button>
      <button
        class="btn btn-primary"
        (click)="sendLocalLoader(['global', 'local1'])"
      >
        Local and global loader
        @if ((localLoading$ | async) || (globalLoading$ | async)) {
          <span class="loading loading-ring loading-lg"></span>
        }
      </button>
    </div>

    <div class="flex flex-col justify-around gap-2 md:flex-row">
      <!-- element attributes are a good target for binding with the loaders. -->
      <button class="btn" [class.btn-disabled]="globalLoading$ | async">
        Disabled while loading global
      </button>
      <button class="btn" [class.btn-disabled]="localLoading$ | async">
        Disabled while loading local
      </button>
    </div>

    <app-external-code-panel
      [references]="references"
    ></app-external-code-panel>
  </div>
</app-card-layout>
