<p class="flex flex-wrap items-center gap-1">
  @for (
    reference of references();
    track $index;
    let last = $last;
    let first = $first
  ) {
    @if (first) {
      See:
    }
    @if (last && !first) {
      and
    }
    @if (!first && !last) {
      ,
    }
    <button
      class="btn btn-sm mx-1"
      type="button"
      (click)="
        $event.preventDefault(); openLink(reference.url, reference.language)
      "
    >
      {{ reference.title }}
    </button>
  }
</p>
@if (linkToOpen().length) {
  <app-external-highlighted-code
    (closeClicked)="linkToOpen.set('')"
    [link]="linkToOpen()"
    [language]="language()"
  ></app-external-highlighted-code>
}
