<app-card-layout
  title="An actually flexible context menu component"
  [backButtonToHome]="true"
>
  Here's the problem. Dynamic content on menus, the more flexibility you need,
  the less options you have:
  <ol>
    <li>
      <b>MatMenu:</b> can't open programmatically through the trigger
      directives, can't have two different menus opening from the same object
      conditionally
    </li>
    <li>
      <b>CdkOverlay:</b> you have to build everything, submenus, position,
      behavior on detach, etc
    </li>
    <li>
      <b>CdkMenu:</b> Least helpful one of the bunch, submenu behavior is
      heavily tied into the context of the rest of the menu, the api is very
      unhelpful if you stray from the examples
    </li>
  </ol>

  In my opinion a good solution should have the following:
  <ol>
    <li>Be dynamic, pass an array of menu items and get a menu</li>
    <li>Support submenus out of the box, no extra handling events</li>
    <li>
      Allow opening from a trigger element, mouse event (context menu or
      otherwise), or just programmatically from any source
    </li>
    <li>
      Allow for conditionally rendering menu items asynchronously, we don't want
      to wait for our authorization system to return to open the menu, don't tie
      behavior into inner directives state
    </li>
    <li>
      Minimize layout shifts from conditional rendering by showing a loading
      placeholder
    </li>
    <li>Be accessible, support keyboard navigation</li>
    <li>React to it's position in the screen automatically</li>
    <li>
      Not introducing a new dependency, we got a six months release schedule to
      keep up with
    </li>
  </ol>

  <p>
    So here's the solution. Wrap mat-menu into a component that shift around a
    hidden element with the trigger for the menu to allow for programmatic
    opening and do some RxJs magic to conditionally render the menu items.
  </p>

  <p>
    The menu options can be pre-resolved by a shareReplay observable with the
    conditions being pre-warmed before opening the menu
  </p>

  <app-overlay-menu #reusableMenu [menuItems]="menuItems"></app-overlay-menu>

  <div class="flex items-center gap-4">
    <div
      class="w-fit rounded-lg border-2 border-dashed border-primary p-2"
      (contextmenu)="$event.preventDefault(); triggerMenu($event)"
    >
      Context menu area
    </div>

    <div>
      <button
        class="btn btn-primary"
        [matMenuTriggerFor]="reusableMenu.outerMenu"
      >
        Trigger from a button
      </button>
    </div>

    <div>
      <button class="btn btn-primary" (click)="openMenuInRandomPosition()">
        Trigger programmatically in arbitraty position
      </button>
    </div>
  </div>

  <app-external-code-panel [references]="references"></app-external-code-panel>
</app-card-layout>
