<app-card-layout title="Request if inactive">
  <p>
    Use case: If the user hasn't interacted with an element, request, etc in a set amount of time, send a request or
    execute some code
  </p>
  <h3>Examples of usage:</h3>
  <ul>
    <li>Poll a notification endpoint if the user hasn't opened the notification menu in the last few minutes</li>
    <li>Check the health of an endpoint if a socket has't emmited a value in some time</li>
    <li>Refresh a component after some time without interaction</li>
  </ul>
</app-card-layout>
