<app-card-layout title="Theme Switcher">
  <h2>Just write some js instead of adding another dependency</h2>
  <button class="btn" (click)="theme.setTheme('dark')">🌚 Dark</button>
  <button class="btn" (click)="theme.setTheme('light')">🌞 Light</button>
  <button class="btn" (click)="theme.setTheme('lemonade')">🍋 Lemonade</button>
  <button class="btn" (click)="theme.setTheme('dim')">🌃 Dim</button>

  <p>
    See
    <a
      href="https://github.com/lucasnbsb/AngularPatterns/blob/main/src/app/shared/services/theme.service.ts"
      target="_blank"
      rel="noreferrer"
      >the service</a
    >
  </p>
</app-card-layout>
